.information-container {
    display: none;
}

.scheme-container {
    display: none;
}

#select {
    height: 34px;
}

.topbar {
    position: sticky;
    top: 0;
    z-index: 999;
}

.error-hint {
    margin-left: 0 !important;
    margin-bottom: 0 !important;
    color: #272C35 !important;
    background-color: var(--delete-method-color) !important;
}

.hidden {
    display: none !important;
}

.button-padding {
    margin-top: 0.5em !important;
    margin-bottom: 1em !important;
}

.auth-box {
    padding: 0 !important;
}

.cred-div {
    min-width: 12em;
    max-width: 20em;
    padding: 1.5em !important;
    margin-right: 1.5em;
    background-color: var(--secondary-bg-color);
    border-radius: var(--block-border-radius);
}

.cred-div-input {
    min-width: 8em !important;
    max-width: 95% !important;
}

.button-get {
    border-color: var(--get-method-color) !important;
    color: var(--get-method-color) !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--primary-text-color);
    caret-color: var(--primary-text-color);
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px var(--box-shadow-color);
    border-color: rgb(57, 62, 74);
}